<ion-view view-title="Account">
  <ion-content>
   <div class="row">
	<button class="button button-block button-positive" ng-click="Vibrar()">
	  <span style="color: white;">Vibrar </span>
	</button>

	<button class="button button-block button-calm" ng-click="NoVibrar()">
	  No Vibrar
	</button>

	<button class="button button-block button-balanced" ng-click="">
	  Encender la linterna
	</button>
  </div>

  <div class="row">
	<button class="button button-block button-assertive" ng-click="">
	  Apagar la linterna
	</button><button class="button button-block button-royal" ng-click="Sonido1()">
	  Reproducir sonido 1
	</button>
	<button class="button button-block button-energized" ng-click="Sonido2()">
	  Reproducir sonido 2
	</button>
  </div>  </ion-content>
</ion-view>
